nav {
  background-color: $hoofdkleur;
  &:hover {
    background-color: $donker;
  }
  ul {
    text-align: center;
    font-size: 20px;
    list-style-type: none;
  }
  a {
    color: white;
    text-decoration: none;
    &:hover {
      display: block;
      padding-left: $kleinpad;
      background-color: $donkerder;
    }
  }
  label {
    @extend a;
  }
}

@media screen and (min-width: 30em) {
  nav {
    ul {
      display: grid;
      -webkit-grid-template-columns: 1fr 1fr 1fr 1fr;
      -moz-grid-template-columns: 1fr 1fr 1fr 1fr;
      -ms-grid-template-columns: 1fr 1fr 1fr 1fr;
      -o-grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }
  }
}
