@import "vars";
@import "reset";
@import "nav";
@import "mixins";

body {
  font-family: Georgia, "Times New Roman", Times, serif;
}

footer {
  text-align: center;
  width: $foto;
  background-color: $hoofdkleur;
  padding: $padding;
}

h1,
h2,
h3,
h4,
h5 {
  padding: $padding;
}

img {
  width: $foto;
}
